.body{
  background-color: rgb(244, 205, 156);
}

.login__page-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  form{
    padding: 50px 20px;
    background-color: rgb(245, 214, 178);
    border: 1px solid rgb(210, 191, 24);
    border-radius: 20px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 20px 2px;
  }
}